.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61dafb;
}

.calc-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(4, 1fr);
  max-height: 600px;
  max-width: 400px;
  height: 60vh;
  width: 70vw;
  background-color: rgb(188, 183, 183);
  border: 1px solid black;
  border-radius: 10px;
}

.calc-screen {
  grid-column: 1/-1;
  width: 95%;
  margin: 3% auto;
  padding: 1%;
  background-color: #fff;
  border: 0.8px solid black;
  text-align: right; 
  border-radius: 5px;
  font-size: 3em;
}

.calc-pad {
  display: grid;
  grid-column: 1/-1;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap:  1%;
  width: 95%;
  margin: 1% auto;
}

.footer {
  grid-column: 1/-1;
  text-align: center;
  padding: 1%;
  font: small-caps bold 16px/2 sans-serif;
}

button {
  width: 100%;
  height: 100%;
  font-size: large;
  background-color: azure;
  border-radius: 5px;
}

.operator {
  background-color: rgb(210, 206, 206);
}

.clear-button {
  background-color: rgb(178, 6, 6);
}

.equal-button {
  background-color: rgb(130, 187, 44);
}
